<div class="flex flex-col">
  <label for="first_name">First name</label>
  <input
    id="first-name"
    name="first_name"
    class="border-2 border-black"
    type="text"
    {%
    if
    first_name.is_some()
    %}
    value="{{ first_name.as_ref().unwrap() }}"
    {%
    endif
    %}
  />
</div>

<div id="personal-info">
  <h3>Personal details</h3>
  <div id="account-input" class="flex space-x-24">
    {% include "user_information/name_input.html" %} {% include
    "user_information/address_input.html" %}
  </div>
</div>
