<form
  id="user-information"
  hx-patch="/user/information"
  class="space-y-2 bg-white p-3 mt-10 mb-10"
>
  <div id="account-details">
    <h3>Account information</h3>
    <p>id: {{ sub }}</p>
    <div class="flex space-x-2">
      <p>balance: {{ balance }} {{ currency }}</p>
      <button class="bg-orange-100 border-2 border-black">Add balance</button>
    </div>
  </div>
  <div id="personal-info">
    <h3>Personal details</h3>
    <div id="account-input" class="flex space-x-24">
      <div id="name-input">
        <div class="flex flex-col">
          <label for="first_name">First name</label>
          <input
            id="first-name"
            name="first_name"
            class="border-2 border-black"
            type="text"
            {%
            if
            first_name.is_some()
            %}
            value="{{ first_name.as_ref().unwrap() }}"
            {%
            endif
            %}
          />
        </div>
        <div class="flex flex-col">
          <label for="middle_name">Middle name</label>
          <input
            id="middle-name"
            name="middle_name"
            class="border-2 border-black"
            type="text"
            {%
            if
            middle_name.is_some()
            %}
            value="{{ middle_name.as_ref().unwrap() }}"
            {%
            endif
            %}
          />
        </div>
        <div class="flex flex-col">
          <label for="last_name">Last name</label>
          <input
            id="last-name"
            name="last_name"
            class="border-2 border-black"
            type="text"
            {%
            if
            last_name.is_some()
            %}
            value="{{ last_name.as_ref().unwrap() }}"
            {%
            endif
            %}
          />
        </div>
      </div>
      <div id="address-input">
        <div class="flex flex-col">
          <label for="postal_code">Postal code</label>
          <input
            id="postal-code"
            name="postal_code"
            class="border-2 border-black"
            type="text"
            {%
            if
            postal_code.is_some()
            %}
            value="{{ postal_code.as_ref().unwrap() }}"
            {%
            endif
            %}
          />
        </div>
        <div class="flex flex-col">
          <label for="street_name">Street Name</label>
          <input
            id="street-name"
            name="street_name"
            class="border-2 border-black"
            type="text"
            {%
            if
            street_name.is_some()
            %}
            value="{{ street_name.as_ref().unwrap() }}"
            {%
            endif
            %}
          />
        </div>
        <div class="flex flex-col">
          <label for="street_nr">Street number</label>
          <input
            id="street-nr"
            name="street_nr"
            class="border-2 border-black"
            type="text"
            {%
            if
            street_nr.is_some()
            %}
            value="{{ street_nr.as_ref().unwrap() }}"
            {%
            endif
            %}
          />
        </div>
        <div class="flex flex-col">
          <label for="premise">Premise</label>
          <input
            id="premise"
            name="premise"
            class="border-2 border-black"
            type="text"
            {%
            if
            premise.is_some()
            %}
            value="{{ premise.as_ref().unwrap() }}"
            {%
            endif
            %}
          />
        </div>
        <div class="flex flex-col">
          <label for="settlement">Settlement</label>
          <input
            id="settlement"
            name="settlement"
            class="border-2 border-black"
            type="text"
            {%
            if
            settlement.is_some()
            %}
            value="{{ settlement.as_ref().unwrap() }}"
            {%
            endif
            %}
          />
        </div>
      </div>
    </div>
  </div>
  <input
    id="account-submit"
    class="bg-orange-100 border-2 border-black cursor-pointer"
    type="submit"
    value="Update"
  />
</form>
